@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
  &.dark {
    .secondary {
      display: flex !important;
    }
  }
}
body * {
  font-family: "Inter", sans-serif;

  .title-size {
    font-size: clamp(26px, 8vw, 46px);
  }
  .title-size2 {
    font-size: clamp(24px, 6vw, 34px);
  }
  .text-size {
    font-size: clamp(11px, 1.2vw, 16px);
  }
  .text-size2 {
    font-size: clamp(11px, 1.2vw, 14px);
  }
  .boxShadow {
    box-shadow: #914ad423 0px 8px 24px, #9b4be636 0px 16px 56px, #8a0effb2 0px 24px 80px;
  }
  .show {
    opacity: 1 !important;
    transform: translateX(0);
    animation:0.6s ease-out forwards   transformAnimation;
  }
  .card-icon {
    font-size: clamp(26px, 8vw, 46px);
    transition: all 0.4s ease;
    &:hover {
      transform: scale(0.9);
      opacity: 0.8;
    }
  }
  nav {
    animation: 2.2s ease-out 0s 1 normal backwards running show;
  }
  section {
    &.sec {
      opacity: 0;
    transform: translateX(-50px);

    transition: all 1s ease;

    }

    &#projects {
      .card {
        object-fit: cover;

        img {
          height: 100% !important;
          object-fit: cover !important;
        }
      }
    }
  }
  .secondary {
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;
    animation: 2.2s ease-out 0s 1 normal backwards running aaa;
    display: none;
    &.align-top {
    }
  }
}

@keyframes aaa {
  0% {
    opacity: 0;
    transform: translateY(20%) rotate(40deg);
    filter: contrast(400%) blur(4px);
  }

  100% {
    opacity: 1;
    filter: none;
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  80% {
    display: flex;
  }
  100% {
    opacity: 1;
  }
}

@keyframes transformAnimation {
  0% {
    transform: translateX(-50px);

  }

  100% {
    transform: translateX(0px);

  }
}
